/* NAVBAR SECTION */
.navbar {
  border-top: 5px solid #ff7500;
}

.navbar-logo {
  width: 227px;
  height: 59.18px;
}

.navbar-list {
  list-style-type: none;
}

.navbar-link {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-btn {
  width: 155px;
  height: 39px;
  background-color: #ff7500;

  text-decoration: none;
}

.navbar-btn_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 0.5px;
}

/* HERO SECTION */

.hero {
  background-color: #252420;
}

.hero-info {
  width: 387px;
  height: 328px;
}

.hero-title {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.hero-about {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.hero-btn {
  width: 152px;
  height: 39px;
  background-color: #ff7500;
}

.hero-link {
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.hero-img {
  width: 510px;
  height: 510px;
}

/* Features Section */

.features-title {
  color: #000;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 86.4px;
  letter-spacing: 0.5px;
  width: 435px;
}

.features-item {
  width: 340px;
  height: 245px;
  list-style-type: none;
}

.features-item_title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.5px;
}

.features-item_about {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 314px;
  height: 72px;
}

/* AKSIYA SECTION  */

.aksiya {
  background-color: #252420;
}

.aksiya-left {
  width: 440px;
  height: 321px;
}

.aksiya-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffffff;
}

.aksiya-about {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.aksiya-btn {
  width: 152px;
  height: 39px;
  background-color: #ff7500;
}

.aksiya-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}

.aksiya-img {
  width: 440px;
  height: 440px;
}

/* FOOTER SECTION */

.footer {
  background-color: #f8f8f8;
}

.footer-icon_item {
  list-style-type: none;
}

.footer-item {
  list-style-type: none;
  color: #252420;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
