body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-style: normal;
}

/* Header SECTION */
.site-header {
  border-top: 5px solid #ff7500;
}

.header-logo {
  width: 227px;
  height: 59.18px;
}

.navbar-link {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list {
  list-style-type: none;
}

.main-btn {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff7500;
}

/* HERO SECTION */

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero {
  background-color: #252420;
}

.hero-info {
  width: 387px;
}

.hero-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.hero-about {
  color: #ffffff;
  font-weight: 400;
}

.hero-img {
  width: 510px;
  height: 510px;
}

/* Features Section */

.features-title {
  width: 435px;
  color: #000;
  font-size: 72px;
  font-weight: 700;
  line-height: 86.4px;
  font-family: "Roboto Condensend", "Arial", sans-serif;
}

.features-list li {
  list-style-type: none;
  width: 314px;
}

.features-item {
  width: 340px;
}

.features-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.features-item_title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.features-item_about {
  color: #000;
  width: 314px;
  height: 72px;
  font-weight: 400;
}

/* AKSIYA SECTION  */

.aksiya {
  background-color: #252420;
}

.aksiya-left {
  width: 440px;
}

.aksiya-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.aksiya-about {
  color: #fff;
  font-weight: 400;
}

.aksiya-about b {
  color: #ff7500;
}

.aksiya-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

/* FOOTER SECTION */

.footer {
  background-color: #f8f8f8;
}

.footer-icon-list {
  list-style-type: none;
}

.footer-list {
  width: 224px;
  list-style-type: none;
}

.site-footer_hr {
  width: 1100px;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}

.footer-item {
  color: #252420;
  font-weight: 400;
}

.lorem {
  text-transform: capitalize;
}
