/* NAVBAR SECTION */
.navbar {
  border-top: 5px solid #ff7500;
}

.navbar-logo {
  width: 227px;
  height: 59.18px;
}

.navbar-list {
  list-style-type: none;
}

.navbar-link {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-btn {
  width: 155px;
  height: 39px;
  background-color: #ff7500;

  text-decoration: none;
}

.navbar-btn_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 0.5px;
}

/* HERO SECTION */

.hero {
  background-color: #252420;
}

.hero-info {
  width: 387px;
  height: 328px;
}

.hero-title {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.hero-about {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.hero-btn {
  width: 152px;
  height: 39px;
  background-color: #ff7500;
}

.hero-link {
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.hero-img {
  width: 510px;
  height: 510px;
}
